<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.2.1/dist/axentix.min.css">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar shadow-1 primary" aria-label="example navbar">
        <a href="#" class="navbar-logo hide-sm-down">
            <img src="https://useaxentix.com/img/axentix.svg" class="py-3" alt="Axentix">
        </a>

        <a href="#" class="navbar-brand">Deskount</a>

        <div class="navbar-menu ml-auto hide-xs text-grey text-light-3 font-w600 hover-text-dark">
            <a class="navbar-link" href="#">Home</a>
            <a class="navbar-link" href="#">Company</a>
            <a class="navbar-link" href="#">Pricing</a>
            <a class="navbar-link" href="#">Contact</a>
        </div>

        <button class="btn transparent text-white hide-sm-up font-s5 ml-auto hide-sm-up" aria-label="Menu button">
            <span class="iconify-inline" data-icon="mdi:menu"></span>
        </button>
    </nav>

        {% block body %}{% endblock %}
    </body>
    <footer class="footer primary">
        Copyright © 2022 - Example
    </footer>
</html>
